body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.headerNav {
  float: right;
}

.headerUl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headerNavli {
  /*float left*/
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
}

.headerNavLink {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.headerNavLink:hover {
  color: #000;
}

.headerNavLink::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.headerNavLink:hover::before {
  width: 100%;
}

.create-form {
  color: #FFF;
}
