body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("img/body_bg.png");
  //background-color: #424242;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  left: 0;
}

header::after {
  content: '';
  display: table;
  clear: both;

  position: relative;
}

.headerNav {
  float: none;
  width: 100%;
  margin: 0 auto;
  //text-align: center;

}

.headerUl {

  margin: 0;
  padding: 0;
  list-style: none;

}

.headerUl li{
  float: left;
  margin-left: 0.1%;
  margin-right: 0.1%;
  height:55px;
  width:24.8%;
  outline: 2px solid #000000;

  position: relative;


  //padding-top: 25px;
  //padding-bottom:25px;
}

.headerUl li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 100;
  background-color: #333;

  display:block;
  height:100%;
  width:100%;

  text-align: center;
}

.headerUl li a:hover {
  color: #FFF;
  visibility:visible;
}

.headerUl li a::before {
  content: '';
  display: block;
  height: 25px;
  //background-color: #ab1f1f;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  z-index: 1;
}

.headerUl li a:hover::before {
  height: 100%;
}

.headerNavLinkGray::before {
  background-color: #999999;
}

.headerNavLinkRed::before {
  background-color: #d95757;
}

.headerNavLinkBlue::before {
  background-color: #575bd9;
}

.headerNavLinkGreen::before {
  background-color: #57d985;
}



.headerNavLinkGray:hover::before {
  content: 'Pokedex';
}

.headerNavLinkRed:hover::before {
  content: 'Create Pokemon';
}

.headerNavLinkBlue:hover::before {
  content: 'About';
}

.headerNavLinkGreen:hover::before {
  content: 'My Website';
}

.pokemonImg {
}

.pokemonContainer {
  width: 30%;
  display: inline-block;
  padding: 10%;
}

.whiteContainer {
  background: white;
  margin-top: 50px;
}

.listContainer {
  display: inline;
  height: 10px;
}

.title {
  padding: 10px;
  font-weight: bold;
}

.create-form {
  color: #FFF;
}
